<style>
#sidedbs::-webkit-scrollbar {
    display: none;
}

#sidecollections::-webkit-scrollbar {
    display: none;
}

#thedocuments::-webkit-scrollbar {
    display: none
}

#documentView::-webkit-scrollbar {
    display: none
}
</style>
<!-- dbbar -->
<div id="sidedbs" class="left side-menu  side-menu-sm" style="overflow:auto;">
    <div class="sidebar-inner slimscrollleft">
        <!--- Divider -->
        <div id="sidebar-menu">
            <ul>
                <li class="text-muted menu-title">Local Host</li>
                <li ng-repeat="db in dbs" class="has_sub">
                    <a ng-click="showCollections(db.name)" ng-class="{active: currentDB===db.name}" class="waves-effect waves-light"><i class="ti-server"></i> <span> {{db.name}} </span> </a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="content-page">
    <!-- collectionbar -->
    <div ng-show="currentDB" id="sidecollections" class="left side-menu  side-menu-sm" style="overflow:auto;">
        <div class="sidebar-inner slimscrollleft">
            <!--- Divider -->
            <div id="sidebar-menu">
                <ul>
                    <li class="text-muted menu-title">Collections</li>
                    <li ng-repeat="collection in collections" class="has_sub">
                        <a ng-click="showDocuments(collection)" ng-class="{active: currentCollection===collection}" class="waves-effect waves-light"><i class="ti-folder"></i> <span> {{collection.collectionName}} </span> </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="content-page">
        <div class="content" style="margin-top:15px;">
            <div class="container">
                <div class="row" ng-show="currentCollection">
                    <div class="col-lg-12">
                        <ol class="breadcrumb">
                            <li>Local Host
                            </li>
                            <li>
                                {{currentDB}}
                            </li>
                            <li class="active">
                                {{currentCollectionName}}
                            </li>
                        </ol>
                        <!-- <div class="row">
                                <div class="col-sm-6 text-xs-center">
                                    <h4 class="m-t-0 header-title"><b>Documents</b></h4>
                                    <p class="text-muted m-b-30 font-13">
                                        {{docs.length}} documents found.
                                    </p>
                                </div>
                                <div class="col-sm-6 text-xs-center text-right">
                                    <div class="form-group">
                                        <input id="demo-foo-search" type="text" placeholder="Search" class="form-control input-sm" autocomplete="on">
                                    </div>
                                </div>
                            </div> -->
                        <div class="form-inline m-b-20">
                            <div class="row">
                                <div class="col-sm-6 text-xs-center">
                                    <h4 class="m-t-0 header-title"><b>Documents</b></h4>
                                    <p class="text-muted m-b-30 font-13">
                                        {{docs.length}} documents found.
                                    </p>
                                </div>
                                <div class="col-sm-6 text-xs-center text-right">
                                    <div class="form-group">
                                        <input type="text" placeholder="Key" class="form-control input-sm" ng-model="docKey">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" placeholder="Value" class="form-control input-sm" ng-model="docValue">
                                    </div>
                                    <div class="form-group">
                                         <button type="button" ng-click="searchDocs()" class="btn btn-success btn-custom waves-effect waves-light">Search</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="thedocuments" class="card-box" style="height:25vh;overflow:auto;">
                            <table class="table table table-hover m-0">
                                <tbody>
                                    <tr ng-class="{active: currentDoc===doc}" ng-click="showDoc(doc)" ng-repeat="doc in docs">
                                        <td><b>_id: </b>{{doc._id}}</td>
                                        <td>{{doc.numFields}} <b>fields</b></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <pre id="documentView" style="height:44vh;overflow:auto;" ng-show="currentDoc">{{currentDoc | json}}</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
