<br>
<br>
<br>
<br>
<br>
<div class="content-page">
    <div class="input-group">
        <input ng-show="!schemaLoaded" ng-model="schemaName" ng-keyup="$event.keyCode == 13 && addSchema(schemaName)" type="text" class="form-control" placeholder="Enter Schema Name" aria-describedby="basic-addon2">
    </div>
    <!-- Start content -->
    <div class="content">
        <div class="container" ng-hide="!schemaLoaded">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card-box">
                        <h4 class="m-t-0 header-title"><b>{{schema.name}}</b></h4>
                        <p class="text-muted m-b-30 font-13">
                        </p>
                            <table id="schemaTable" class="table table-striped m-b-0">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Type</th>
                                        <th>Options</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="field in schema.fields">
                                        <td>{{field.name}}</td>
                                        <td>{{field.type}}</td>
                                        <td>...</td>
                                    </tr>
                                    <tr ng-keyup="$event.keyCode==13 && addRow()">
                                        <td>
                                            <input placeholder="field name" ng-model="newFieldName"></input>
                                        </td>
                                         <td>
                                            <!-- <input placeholder="data type" ng-model="newFieldType">

                                        </input> -->
                              <!--           <select class = "selectContainer">
                                          <option value="volvo">..Select</option>
                                          <option value="saab">Saab</option>
                                          <option value="opel">Opel</option>
                                          <option value="audi">Audi</option>
                                        </select> -->
                                          <div class="btn-group">
                                                    <button type="button" class="btn btn-default dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Dropdown <span class="caret"></span></button>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li><a href="#">Action</a></li>
                                                        <li><a href="#">Another action</a></li>
                                                        <li><a href="#">Something else here</a></li>
                                                        <li class="divider"></li>
                                                        <li><a href="#">Separated link</a></li>
                                                    </ul>
                                                </div>
                                        </td>
                                        <td>
                                            <input placeholder="options" ng-model="newFieldOptions"></input>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>