<div ng-keyup="$event.keyCode == 13 && addRow()">
    <div class="col-md-4 m-t-10">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Field Name" ng-model="newFieldName">
        </div>
    </div>
    <div class="btn-group col-md-4 m-t-10">
        <button type="button" class="btn btn-default dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">{{newFieldType}} <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
            <li ng-repeat="type in typeArr" ng-click="selectType(type,null)"><a>{{type}}</a></li>
        </ul>
    </div>
    <div class="btn-group col-md-4 m-t-10">
        <options-dropdown field="newField"></options-dropdown>
    </div>
</div>