<br>
<br>
<br>
<br>
<br>
<div class="content-page">
    <div class="input-group">
        <input ng-show="!schemaLoaded" ng-model="schemaName" ng-keyup="$event.keyCode == 13 && addSchema(schemaName)" type="text" class="form-control" placeholder="Enter Schema Name" aria-describedby="basic-addon2">
    </div>
    <!-- Start content -->
    <div class="content ">
        <div class="container" ng-hide="!schemaLoaded">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="m-t-0 header-title"><b>{{schema.name}}</b></h4>
                    <p class="text-muted m-b-30 font-13">
                    </p>
                    <div class="col-md-4">
                        <label class="control-label" for="example-input1-group1">Field Name</label>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label" for="example-input1-group1">Data Type</label>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label" for="example-input1-group1">Options</label>
                    </div>
                    <div ng-repeat="field in schema.fields">
                        <!-- start of cardbox-->
                        <div class="col-md-4">
                            {{field.name}}
                        </div>
                        <div class="col-md-4">
                            {{field.type}}
                        </div>
                        <div class="col-md-2">
                            {{field.options}} <!--display all the keys-->
                        </div>
                        <div class="col-md-2">
                            edit button
                        </div>
                        <!-- this div on new line -->
                        <!-- this is "details" view -->
                        <!-- <div ng-show="field.type===obj">
                            details
                         </div> -->
                    </div>
                    <div ng-keyup="$event.keyCode == 13 && addRow()">
                        <!-- start of cardbox-->
                        <div class="col-md-4">
                            <form role="form">
                                <div class="form-group">
                                    <div class="input-group">
                           
                                        <input type="text" name="example-input1-group1" class="form-control" placeholder="Field Name" ng-model="newFieldName">
                                    </div>
                                </div>
                                <!-- form-group -->
                            </form>
                        </div>

                        <div class="btn-group col-md-4">
                            <button type="button" class="btn btn-default dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">{{newFieldType}} <span class="caret"></span></button>                
                            <ul class="dropdown-menu" role="menu">
                                <li ng-repeat ="type in typeArr" ng-click = "selectType(type,null)"><a>{{type}}</a></li>
                            </ul>
                        </div>
                        <div class="btn-group col-md-3">
                            <button type="button" class="btn btn-default dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Options <span class="caret"></span></button>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-repeat="(key,value) in newFieldOptionsObj">
                                    <div class="col-md-6">
                                        {{key}}
                                    </div>
                                    <div class="col-md-6">
                                        {{value}}
                                    </div>
                                </li>
                                <li>
                                    <div class="input-group m-t-10">
                                        <div class="col-md-4">
                                            <input ng-model="newOptionName" name="example-input2-group2" class="form-control" placeholder="option name">
                                        </div>
                                        <div class="col-md-4">
                                            <input ng-model="newOptionValue" name="example-input2-group2" class="form-control" placeholder="value">
                                        </div>
                                        <div class="col-md-2" ng-click="selectOption(newOptionName,newOptionValue,null)">
                                            <i class="glyphicon glyphicon-ok"></i>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            {{newFieldOptionsDisplay}}
                        </div>
                    </div>
                    <!--card box closes -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- modal --><!-- 
<mulch-modal temp-directive ng-model="optionsModel" submit="addRow()"></mulch-modal> -->