


        <div class="content-page">
            <!-- Start content -->
            <div class="content">
                <div class="container">

                    <div class="col-lg-4">
                        <div class="panel panel-color panel-custom">
                            <!-- Default panel contents -->
                            <div class="panel-heading">
                                <h3 class="panel-title">Schema 1</h3>
                            </div>
                            <!-- Table -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card-box">
                                        <div class="table-responsive">
                                            <table id="mainTable" class="table table-striped m-b-0">
                                                <thead>
                                                    <tr>
                                                        <th>FieldName</th>
                                                        <th>Type</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Car</td>
                                                        <td>100</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Bike</td>
                                                        <td>330</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- container -->
                    </div>
                    <div class="col-lg-4">
                        <div class="panel panel-color panel-custom">
                            <!-- Default panel contents -->
                            <div class="panel-heading">
                                <h3 class="panel-title">Schema 1</h3>
                            </div>
                            <!-- Table -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card-box">
                                        <div class="table-responsive">
                                            <table id="mainTable" class="table table-striped m-b-0">
                                                <thead>
                                                    <tr>
                                                        <th>FieldName</th>
                                                        <th>Type</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Car</td>
                                                        <td>100</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Bike</td>
                                                        <td>330</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- container -->
                    </div>
                    <div class="col-lg-4">
                        <div class="panel panel-color panel-custom">
                            <!-- Default panel contents -->
                            <div class="panel-heading">
                                <h3 class="panel-title">Schema 1</h3>
                            </div>
                            <!-- Table -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card-box">
                                        <div class="table-responsive">
                                            <table id="mainTable" class="table table-striped m-b-0">
                                                <thead>
                                                    <tr>
                                                        <th>FieldName</th>
                                                        <th>Type</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Car</td>
                                                        <td>100</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Bike</td>
                                                        <td>330</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- container -->
                    </div>

                </div>
                <!-- ============================================================== -->
                <!-- End Right content here -->
                <!-- ============================================================== -->

            </div>
        </div>

            <script>
            $('#mainTable').editableTableWidget().numericInputExample().find('td:first').focus();
            </script>
     

