<!-- ========== Left Sidebar ========== -->
<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <!--- Divider -->
        <div id="sidebar-menu">
            <ul>
                <!-- <li class="text-muted menu-title">Schemas</li> -->
                <li ng-repeat="schema in schemas" class="has_sub" style="text-align: center">
                    <sidebar-schema-button></sidebar-schema-button>
                </li>
                <br>
                <button data-toggle="modal" data-target="#newSchemaModal" type="button" style="height:60px;width:100%;" class="btn btn-primary waves-effect waves-light">Add Schema</button>
                <button ng-click="deleteAll()" type="button" style="height:60px;width:100%;" class="btn btn-primary waves-effect waves-light">DELETE ALL (temp)</button>
                <button ng-click="showStorage()" type="button" style="height:60px;width:100%;" class="btn btn-primary waves-effect waves-light">SHOW STORAGE (temp)</button>
                </br>
                 </br>
                  </br>
                
            </ul>

            <ul>
             <button ng-click ="exportSchemas()" type="button" style="height:60px;width:100%;" class="btn btn-primary waves-effect waves-light glyphicon glyphicon-export"> Export</button>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- Modal -->
<div id="newSchemaModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="mySmallModalLabel">Add Schema</h4>
            </div>
            <div class="modal-body">
                <div class="input-group m-t-10">
                    <input ng-model="newSchemaName" id="example-input2-group2" name="example-input2-group2" class="form-control" placeholder="Schema Name">
                    <span class="input-group-btn">
                        <button ng-click="addSchema()" type="button" class="btn waves-effect waves-light btn-primary" data-toggle="modal" data-target="#newSchemaModal">Submit</button>
                     </span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal for export -->

<!-- <div id="exportSchemaModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="mySmallModalLabel">Export Schema</h4>
            </div>
            <div class="modal-body">
                <div class="input-group m-t-10">
                    <input ng-model="newSchemaName" id="example-input2-group2" name="example-input2-group2" class="form-control" placeholder="Schema Name">
                    <span class="input-group-btn">
                        <button ng-click="addSchema()" type="button" class="btn waves-effect waves-light btn-primary" data-toggle="modal" data-target="#exportSchemaModal">Submit</button>
                     </span>
                </div>
            </div>
        </div>
    </div>
</div> -->

