<style>
    #side::-webkit-scrollbar{
        display: none;
    }
</style>
<div id="side"class="left side-menu" style="overflow:auto;">
    <div class="sidebar-inner slimscrollleft">
        <div id="sidebar-menu">
            <ul>
                <li class="text-muted menu-title">Schemas</li>
                <li ng-repeat="schema in schemas" class="has_sub">
                    <a ng-mouseenter="show = true" ng-mouseleave="show = false" ui-sref-active="active" ui-sref="schemabuilder({ schemaId: schema.id})" class="waves-effect waves-light">
                        <i class="ti-layout-list-thumb"></i><span ng-show="show" class="label label-danger pull-right" ng-click="deleteSchema(schema)">X</span> <span> {{schema.name}} </span>
                    </a>
                </li>
                <li class="has_sub">
                    <a data-toggle="modal" style="color:#81c868;" data-target="#newSchemaModal" href="#" class="waves-effect waves-light"><i class="ti-plus"></i> <span> Add Schema </span> </a>
                </li>
                <li class="text-muted menu-title">Views</li>

                <li class="has_sub">
                    <a ui-sref-active="active" ui-sref="visualizer" class="waves-effect waves-light"><i class="ti-layout-grid2"></i> <span> Schema Visualizer </span> </a>
                </li>
                <li class="has_sub">
                    <a ui-sref-active="active"  ui-sref="seeder" class="waves-effect waves-light"><i class="ti-wand"></i> <span> Seed Wizard </span> </a>

                </li>
                <li class="has_sub">
                    <a ui-sref-active="active" ui-sref="mongogui" ng-click="getCollections()" class="waves-effect waves-light"><i class="ti-server"></i> <span> MongoDB GUI </span> </a>

                </li>
                <li class="text-muted menu-title">Actions</li>

                <li class="has_sub">
                    <a  style="color:#81c868;" ng-click = "exportSchemas()" class="waves-effect waves-light"><i class="ti-export"></i> <span> Export Schemas </span></a>
                </li>

               <!--  <li class="has_sub">
                    <a ng-click="exportSchemas()" style="color:#81c868;" class="waves-effect waves-light"><i class="ti-export"></i> <span> Export </span> </a>
                </li> -->
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div id="newSchemaModal" class="modal fade bs-example-modal-sm" role="dialog"  style="display: none;">
    <div class="modal-dialog modal-sm">
        <h4 class="custom-modal-title">Add Schema</h4>
        <button type="button" class="close" data-dismiss="modal" >×</button>
        <div class="modal-content" style="background-color:#343D47;">
            <div class="modal-body">
                <div class="input-group m-t-10">
                    <input autofocus ng-model="newSchemaName" id="example-input2-group2" name="example-input2-group2" class="form-control" placeholder="Schema Name">
                    <span class="input-group-btn">
                        <button ng-click="addSchema()" type="submit" class="btn waves-effect waves-light btn-success" data-toggle="modal" data-target="#newSchemaModal">Submit</button>
                     </span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div id="newExportModal" class="modal fade bs-example-modal-sm" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-sm">
        <h4 class="custom-modal-title">Export Schemas To</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <div class="modal-content" style="background-color:#343D47;">
            <div class="modal-body">
                <div class="input-group m-t-10">
                    <input autofocus ng-model="pathName" id="example-input2-group2" name="example-input2-group2" class="form-control" placeholder="Path Name">
    <!--               <input ng-model ="pathName" type="file" id="ctrl" webkitdirectory directory multiple/> -->
                    <span class="input-group-btn">
                        <button ng-click="exportSchemas(pathName)" type="submit" class="btn waves-effect waves-light btn-success" data-toggle="modal" data-target="#newExportModal">Submit</button>
                     </span>
                </div>
            </div>
        </div>
    </div>
</div> -->

