
<div class="modal-body">
	<div ng-show="!makingNewProj && !onlyNew">
        <button type="button" ng-click="makingNewProj = true " class="btn btn-success btn-custom waves-effect waves-light">New Project</button>
    	<button type="button" ng-click="loadProject()" class="btn btn-warning btn-custom waves-effect waves-light">Load Mulch</button>
	</div>
	<div ng-show="makingNewProj ">
		<p>Name your Project and pick your repo directory</p>
    	<form name="projform">
            <input autofocus required ng-model="projectName" class="form-control" placeholder="Project Name"><br>
            <button type="button" ng-disabled="projform.$invalid" ng-click="newProject(projectName)" class="btn btn-success btn-custom waves-effect waves-light" >Go!</button>
            <button type="button" ng-click="makingNewProj = false" class="btn btn-danger btn-custom waves-effect waves-light">Cancel</button>
        </form>
	</div>
    <div ng-show="onlyNew">
        <p>Name your Project and pick your repo directory</p>
        <form name="projform">
            <input autofocus required ng-model="projectName" class="form-control" placeholder="Project Name"><br>
            <button type="button" ng-disabled="projform.$invalid" ng-click="newProject(projectName)" class="btn btn-success btn-custom waves-effect waves-light" >Go!</button>
            <button type="button" ng-click="closeModal()" class="btn btn-danger btn-custom waves-effect waves-light" >Close</button>
        </form>
    </div>
</div>
