<!-- <div class="modal-header" style="background-color:rgb(129,200,104);">
    <h3 class="modal-title">Welcome</h3>
</div> -->
<div class="modal-body">
	<div ng-show="!makingNewProj && !onlyNew">
    	<!-- <button class="btn btn-primary" type="button" ng-click="makingNewProj = true ">New Mulch</button> -->
        <button type="button" ng-click="makingNewProj = true " class="btn btn-success btn-custom waves-effect waves-light">New Project</button>
    	<button type="button" ng-click="loadProject()" class="btn btn-warning btn-custom waves-effect waves-light">Load Mulch</button>
        <!-- <button class="btn btn-warning" type="button" ng-click="loadProject()">Load Mulch</button> -->
	</div>
	<div ng-show="makingNewProj || onlyNew">
		<p>Name your Project and pick your repo directory</p>
    	<form name="projform">
            <input autofocus required ng-model="projectName" class="form-control" placeholder="Project Name"><br>
            <button type="button" ng-disabled="projform.$invalid" ng-click="newProject(projectName)" class="btn btn-success btn-custom waves-effect waves-light" >Go!</button>
            <button type="button" ng-click="makingNewProj = false " class="btn btn-danger btn-custom waves-effect waves-light" ng-if="!onlyNew">Cancel</button>
        </form>
	</div>
</div>
