<md-sidenav style="background-color:#343D47;"class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">
    <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Schema Field</h1>
    </md-toolbar>
    <md-content style="background-color:#343D47;" layout-padding>
        <form>
            <div layout="row">
                <md-input-container flex>
                    <label style="color:#98a6ad;" for="testInput">Field Name</label>
                    <input type="text" id="testInput" ng-model="field.name" md-autofocus>
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container flex>
                    <label style="color:#98a6ad;">Data Type</label>
                    <md-select ng-click="refreshSchemas()" ng-model="field.type">
                        <md-option layout="column" layout-align="start start" ng-repeat="type in typeArr" ng-value="type">
                            {{ type }}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex ng-show="field.type==='Array of...'">
                    <label style="color:#98a6ad;">Data Type</label>
                    <md-select ng-model="field.selectedArrType">
                        <md-option layout="column" layout-align="start start" ng-repeat="type in arrOf" ng-value="type">
                            {{ type }}s
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex ng-show="field.type==='Reference to...'">
                    <label style="color:#98a6ad;">Schema</label>
                    <md-select ng-model="field.selectedSchema">
                        <md-option layout="column" layout-align="start start" ng-repeat="schema in schemas" ng-value="schema.name">
                            {{ schema.name }}
                        </md-option>
                    </md-select>
                </md-input-container>
                
                <md-input-container flex ng-show="field.type==='Embed...'">
                    <label style="color:#98a6ad;">Schema</label>
                    <md-select ng-model="field.selectedEmbed">
                        <md-option layout="column" layout-align="start start" ng-repeat="schema in schemas" ng-value="schema.name">
                            {{ schema.name }}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout="row">
                <div flex class="md-padding" layout="row" layout-wrap>
                    <div class="standard">
                        <h3 style="color:black;">Options </h3>
                        <div layout="row" layout-wrap flex>
                            <div flex="100" ng-repeat="option in possibleOptions">
                                <md-checkbox ng-checked="exists(option)" ng-click="toggle(option)">
                                    {{ option }}
                                </md-checkbox>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div layout="row">
                <md-input-container flex>
                    <label style="color:#98a6ad;">Default Value</label>
                    <input type="text" ng-model="field.options.default">
                </md-input-container>
            </div>
            <br>
            <div layout="row">
                <button flex type="button" ng-click="saveField()" class="btn btn-success btn-custom waves-effect waves-light">Save Field</button>
            </div>
        </form>
    </md-content>
</md-sidenav>

<style>
    md-content.md-default-theme, md-content {
        background-color:#303841;
    }

</style>
