<!-- Top Bar Start -->
<div class="topbar" style="z-index:10;">
    <!-- LOGO -->
    <div class="topbar-left">
        <div class="text-center">
            <a ui-sref="home" class="logo"><i class="icon-magnet icon-c-logo"></i><span>M<i class="md md-album"></i>NG<i class="md md-album"></i>MULCH</span></a>
        </div>
    </div>
    <div class="navbar navbar-default" role="navigation">
                    <div class="container">
                        <div class="">
                            <ul class="nav navbar-nav navbar-right pull-right">
                                <!-- <li class="hidden-xs">
                                    <a href="#" class="right-bar-toggle waves-effect"><i class="icon-settings"></i></a>
                                </li> -->
                                <li class="dropdown">
                                    <a href="" class="dropdown-toggle profile waves-effect" data-toggle="dropdown" aria-expanded="true"><img src="assets/images/users/avatar-1.jpg" alt="user-img" class="img-circle"> </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="javascript:void(0)"><i class="ti-user m-r-5"></i> Profile</a></li>
                                        <li><a href="javascript:void(0)"><i class="ti-settings m-r-5"></i> Settings</a></li>
                                        <li><a ng-click="save()"><i class="ti-save m-r-5"></i> Save</a></li>
                                        <li><a ng-click="load()"><i class="ti-save m-r-5"></i> Load</a></li>
                                        <li><a ng-click="DELETETHIS()"><i class="ti-save m-r-5"></i> Load fked up, undo</a></li>
                                        <li><a ng-click="deleteAll()"><i class="ti-trash m-r-5"></i> Delete All </a></li>
                                        <li><a ui-sref="visualizer"><i class="ti-lock m-r-5"></i> Visualizer</a></li>
                                        <li><a href="javascript:void(0)"><i class="ti-power-off m-r-5"></i> Logout</a></li>
                                    </ul> 
                                </li>
                            </ul>
                        </div>
                        <!--/.nav-collapse -->
                    </div>
                </div>
</div>
<!-- Top Bar End -->
