<br>
<div class="content ">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="card-box">
                    <div class="row">
                        <div class="col-lg-12">
                            <h4 class="m-t-0 header-title"><b>{{schema.name}} Collections</b></h4>
                            <div class="p-20">
                                <table class="table table table-hover m-0">
                                    <thead>
                                        <tr>
                                            <th>Field Name</th>
                                            <th>Data Type</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-click="toggleRight(schema,field)" ng-repeat="field in schema.fields">
                                            <td>tt</td>
                                            <td>tt</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <br>
                                <button type="button" ng-click="toggleRight(schema)" ng-hide="isOpenRight()" class="btn btn-success btn-custom waves-effect waves-light">Add Field</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
