<style>
#selector {
    position: relative;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 2px solid rgb(129, 200, 104);
    border-radius: 5px 5px 5px 5px;
    padding: 6px 25px 6px 12px;
}

#dropdown {
    color: rgb(129, 200, 104);
    font: normal normal 500 normal 14px / 20px Roboto, sans-serif;
}

#carrot {
    position: absolute;
    right: 12px;
    top: 16px;
    border-top: 4px dashed rgb(129, 200, 104);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-left: 4px solid rgba(0, 0, 0, 0);
    margin: -2px 0px 0px;
}

select.bs-select-hidden,
select.selectpicker {
    display: none!important;
}
</style>
<div layout-align="center" layout="row">
    <div class="col-lg-10 col-md-12 col-sm-12">
        <div class="panel panel-border panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">{{question.name}}</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped m-b-0">
                        <thead>
                            <tr>
                                <th>Field Name</th>
                                <th>Type</th>
                                <th>Seed Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="q in question.fields">
                                <td class="col-md-2">{{q.name}}</td>
                                <td class="col-md-2" ng-hide="q.type==='Array of...' || q.type==='Reference to...'">{{q.type}}</td>
                                <td class="col-md-2" ng-show="{{q.type === 'Array of...'}}">Array of {{q.selectedArrType}} </td>
                                <td class="col-md-2" ng-show="{{q.type === 'Reference to...'}}">Reference to {{q.reference}} </td>
                                <td class="col-md-2">
                                    <md-select ng-model="q.hint" aria-label="lol" ng-hide="validations(q)">
                                        <md-option layout="column" layout-align="start start" ng-value="option" ng-repeat="option in StrOpitons">
                                            {{option}}
                                        </md-option>
                                    </md-select>
                                     <md-select ng-model="q.hint" aria-label="lol" ng-hide="!validations(q)">
                                        <md-option layout="column" layout-align="start start" ng-value="option" ng-disabled ="true">
                                           References are auto seeded
                                        </md-option>
                                    </md-select>
                                    <md-input-container ng-show=" q.hint=='enum' " class="md-block" flex-gt-sm>
                                        <label style="color:white;">Enums separated by spaces</label>
                                        <input ng-model="q.enums"></input>
                                    </md-input-container>
                                </td>
                            
       
                                <td ng-show="q.hint === 'integer' || q.hint === 'floating' " class="col-md-2">
                                    <!-- <form name="rangeForm"> -->
                                    <div class="col-sm-6">
                                        <input name="min" type="number" class="form-control" placeholder="Min" ng-model="q.min" />
                                    </div>
                                    <div class="col-sm-6">
                                        <input name="max " type="number" class="form-control" placeholder="Max" ng-model="q.max" />
                                        <!-- validate-greater <- directive updates only after leaving the element -->
                                    </div>
          
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- <md-button class="md-raised">answer.text</md-button> -->
    </div