<br><br><br>
<div class="content ">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="card-box">
                    <div class="row">
                        <div class="col-lg-12">
                            <h4 class="m-t-0 header-title"><b>{{schema.name}} Schema</b></h4>
                            <div class="p-20">
                                <table class="table table table-hover m-0">
                                    <thead>
                                        <tr>
                                            <th>Field Name</th>
                                            <th>Data Type</th>
                                            <th>Options</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr  ng-repeat="field in schema.fields" ng-mouseenter="show = true" ng-mouseleave="show = false">
                                            <td ng-click="toggleRight(schema,field)">{{field.name}}</td>
                                            <td ng-click="toggleRight(schema,field)" ng-hide="field.type==='Array of...' || field.type==='Reference to...' || field.type==='Embed...'">{{field.type}}</td>
                                            <td ng-click="toggleRight(schema,field)" ng-show="(field.type==='Array of...' && !field.selectedArrType) ">Array of...</td>
                                            <td ng-click="toggleRight(schema,field)" ng-show="(field.type==='Array of...' && field.selectedArrType)">Array of {{field.selectedArrType | plural}}</td>

                                            <td ng-click="toggleRight(schema,field)" ng-show="(field.type==='Reference to...' && !field.reference) ">Reference to...</td>
                                            <td ng-click="toggleRight(schema,field)" ng-show="(field.type==='Reference to...' && field.reference)">Reference to {{field.reference | plural}}</td>

                                            <td ng-click="toggleRight(schema,field)" ng-show="(field.type==='Embed...' && !field.selectedEmbed) ">Embed...</td>
                                            <td ng-click="toggleRight(schema,field)"  ng-show="(field.type==='Embed...' && field.selectedEmbed)">Embed {{field.selectedEmbed | plural}}</td>
                                            <td ng-click="toggleRight(schema,field)">{{field.options}}</td>
                                            <td ng-click ="deleteField(schema)"> <i ng-show="show" class="ti-close"></i></td>
                                        <!--     <i class="ti-close"></i> -->
                                        </tr>
                                    </tbody>
                                </table>
                                <br>
                                <button type="button" ng-click="toggleRight(schema)" class="btn btn-success btn-custom waves-effect waves-light">Add Field</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
